@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Palatino', 'Palatino Linotype', serif;

  --color-orange: #FFB162;
  /*oklch(0.8199_0.1318_64.46)*/

  --color-dark-orange: #A35139;
  /*oklch(0.5309_0.1148_37.14)*/

  --color-blue: #2C3B4D;
  /*oklch(0.3471_0.0373_253.36)*/

  --color-dark-blue: #1B2632;
  /*oklch(0.264_0.0274_251.05)*/

  /*FOR FUTURE LIGHT THEME*/
  --color-off-white: #EEE9DF;
  /*oklch(0.9352_0.0144_84.58)*/
  
  --color-beige: #C9C1B1;
  /*oklch(0.813_0.0237_84.59)*/
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
  background-color: #2C3B4D;
  font-family: var(--font-sans);
}

section {
  scroll-margin-top: 65px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.title {
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-orange);
}

.page-section {
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: var(--color-blue);
}