@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Palatino', 'Palatino Linotype', serif;

  --color-white: #FFFFFF;
  --color-off-white: #EEE9DF;
  --color-beige: #C9C1B1;
  --color-orange: #FFB162;
  --color-dark-orange: #A35139;
  --color-blue: #2C3B4D;
  --color-dark-blue: #1B2632;
  --color-black: #000000;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #2C3B4D;
  font-family: var(--font-sans);
}