@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Palatino', 'Palatino Linotype', serif;

  --color-white: #FFFFFF;
  --color-off-white: #EEE9DF;
  --color-beige: #C9C1B1;
  --color-orange: #FFB162;
  --color-dark-orange: #A35139;
  --color-blue: #2C3B4D;
  --color-dark-blue: #1B2632;
  --color-black: #000000;
}

body {
  margin: 0;
  background-image: url('/background_light.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}